
books/borodin_random_processes.pdf

books/Bulinskij A.B., Shiryaev A.N. Lekcii po teorii sluchajnyh processov (ru).djvu

books/Venttsel# A.D, Kurs teorii sluchajnyh protsessov (1996)(ru)(400s).djvu

books/Venttsel# A.D. Kurs teorii sluchajnyh protsessov (1975)(ru)(319s).djvu
